body {
	background: #F5EEE3 url(/images/bgpic.png) color:   black;
	font: 12px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

html,body,div,ul,ol,li,form,fieldset {
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style: none outside none;
}

#dark-header {
	background-color: #404038;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#484840),
		to(#383830) );
	background: -moz-linear-gradient(top, #484840, #383830);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#484840,
		endColorstr=#383830 );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#484840,endColorstr=#383830)";
	border-top: 1px solid #5C5C54;
	border-bottom: 1px solid #282820;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}

#inner-header.fullscreen {
	margin: 0 40px;
}

#inner-header .menu {
	display: inline-block;
	font-weight: bold;
	height: 30px;
	margin: 0;
	padding: 13px 15px 0;
}

#inner-header .signin {
	height: auto;
	margin: 7px 0 0 7px;
	padding: 5px 8px 6px;
}

#inner-header .dark .menu {
	color: #DDD;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

#page.fullscreen {
	min-width: 1140px;
	padding: 0;
	width: auto !important;
}

#search-box, #searchText {
    border-radius: 16px 16px 16px 16px;
    text-shadow: none;
}

#lookForRecipes {
   
    float: left;
    height: 12px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 1px;
    width: 16px;
}

#recipe-cards, #menuboard-cards {
    padding: 0 0 0 40px;
}

.breadcrumbs {
	display: block;
	font-size: 13px;
	margin: 20px 0 20px 40px;
}

.card-footer {
    color: #444444;
    margin: 10px 6px 0;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
}

.card-footer .domain {
    font-size: 1.08em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.card-footer .byline {
    line-height: 1.5em;
    margin-top: 5px;
}

.inset.dark {
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 0px
		rgba(255, 255, 255, 0.3) inset;
}

.left {
    float: left;
}

.recipe-card img.thumb {
    border-radius: 3px 3px 3px 3px;
    height: 250px;
    width: 250px;
}

.recipe-card .img-n-overlay, .menuboard-card .img-n-overlay {
    height: 250px;
    transition: opacity 0.15s linear 0s;
    width: 250px;
}
.recipe-card a .img-n-title:hover .img-n-overlay{
    opacity: 0.88;
}
.recipe-card .img-n-overlay .overlay {
    background: none repeat scroll 0 0 #333333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    bottom: 0;
    height: 64px;
    left: 0;
    position: absolute;
    width: 250px;
    z-index: 100;
}

.recipe-card .title {
    bottom: 0;
    color: #FFFFFF;
    font: 19px/23px Palatino,'Palatino Linotype','URW Palladio L','Book Antiqua',Georgia,serif;
    height: 46px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 9px 11px;
    position: absolute;
    width: 228px;
    z-index: 101;
}

.recipe-card .img-n-title {
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    height: 250px;
    position: relative;
    transition: box-shadow 0.15s linear 0s;
    width: 250px;
}

.recipe-card .img-n-overlay .overlay{
    background: none repeat scroll 0 0 #333333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    bottom: 0;
    height: 64px;
    left: 0;
    position: absolute;
    width: 250px;
    z-index: 100;
}
.recipe-card .img-n-overlay .overlay {
    background: none repeat scroll 0 0 rgba(34, 32, 32, 0.5);
}

.right {
	float: right;
}

.site-header {
	position: relative;
	height: 43px;
	min-width: 1140px;
	font-size: 13px;
	padding: 0;
	margin-bottom: 20px;
}